header{
  padding: 5px 30px;
  border-bottom: 5px solid #015C80;
  background-color: #026D97;
  color: white;
}

body{
  background-color: white;
  font-family: 'Helvetica';
  color: #026D97;
  padding: 0;
  margin: 0;
}

section{
  padding: 0px 30px;
}

h2{
  margin-bottom: 50px;
}

a{
  color: #026D97;
  text-decoration: none;
}

ul{
  background-color: rgba(0,0,0,.05);
  border: 2px solid rgba(0, 0, 0, .075);
  list-style-type: none;
  padding: 20px 0 0 0;
  margin-bottom: 30px;
}

li{
  font-size: 120%;
  padding: 0 20px 20px;
}
